html, body, .container .row, .col-md-3, .tabbable, .nav nav-tabs, .tab-content, .tab-pane {
	height: 100%;}
	
body{
	color: #ffffff;
	font-family: Georgia, Georgia, serif;
	font-size: 200%;
	
	font: 30px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}
#container {
  position: relative;
  padding-top: 0px;
}
#header{
	background: url(../img/fixed_topbar.png) repeat-x fixed;
	height: 80px;
	
}

#welcome{
	width:100%;
	margin-left: 0px;
	margin-right: 0px;
	height: 550px;
	background: url(../img/welcome.jpg) no-repeat center;
	background-size: 100%;
}
#welcome img{
	
	margin-top: 150px;
	margin-left: 0px;
}
#work{
	background-color: #A4A4A4;
	
	
}
#work img{
	
	margin-top: 15px;
	height:300px;
	width: 100%;
	border: 6px solid grey;
}
.modal-body img{
	width:800px;
	height: 800px;
}

#about {
	background-color: #E6E6E6;
	
}
#about p, h2{
	color: #140718;
}
ul
{
    list-style-type: none;
}
#about li{
	font-size: 25px;
	color: #140718;
}
.sub_header{
	border: 15px #E6E6E6;
	height: 500px;
	background-color: #A9D0F5; 
}